* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #282D30;
  font-family: 'Bangers', cursive;
}

h1 {
  margin: 20px auto;
  text-align: center;
  font-size: 50px;
  color: #007A6E;
  
}

h2 {
  text-align: center;
  font-size: 30px;
}

strong {
  font-weight: 700;
}

nav {
  text-align: left;
}

nav img {
  border: none;
  margin:0;
  width: 30px;
}

body {
  background-image: url("/img/background.jpg");
  background-size: cover;
  width: 95%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color:#282D30;;
}

header {
  padding-top: 30px;
  padding-left: 20px;
  width: 100%;
  position: relative;
}

ul {
  list-style: none;
}

button, input[type=button] {
  color: #ffffff;
  font-family: 'Bangers', cursive;
  background-color: #AA1113; 
  border-radius: 5px;
  font-size: 25px;
  padding: 10px 20px;
  margin: 10px; 
}

button:hover {
  color: #FFD100;
  background-color: #991A1C; 

}